.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;

    overflow: visible;
    clip: auto;

    width: auto;
    height: auto;

    white-space: normal;
}

.shadow-sm {
    box-shadow: 0 0 .5rem rgba(136, 152, 170, .075) !important;
}

.shadow,
.card-profile-image img {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}

.shadow-lg {
    box-shadow: 0 0 3rem rgba(136, 152, 170, .175) !important;
}

.shadow-none {
    box-shadow: none !important;
}

.text-hide {
    font: 0/0 a;

    color: transparent;
    border: 0;
    background-color: transparent;
    text-shadow: none;
}

.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden !important;
}

@media print {
    *,
    *::before,
    *::after {
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    abbr[title]::after {
        content: ' (' attr(title) ')';
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #adb5bd;

        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    @page {
        size: a3;
    }

    body {
        min-width: 992px !important;
    }

    .container {
        min-width: 992px !important;
    }

    .navbar {
        display: none;
    }

    .badge {
        border: 1px solid #000;
    }

    .table {
        border-collapse: collapse !important;
    }

    .table td,
    .table th {
        background-color: #fff !important;
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #dee2e6 !important;
    }

    .table-dark {
        color: inherit;
    }

    .table-dark th,
    .table-dark td,
    .table-dark thead th,
    .table-dark tbody + tbody {
        border-color: #e9ecef;
    }

    .table .thead-dark th {
        color: inherit;
        border-color: #e9ecef;
    }
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.7;

    margin-top: 1.5rem;
}

.lead + .btn-wrapper {
    margin-top: 3rem;
}

.description {
    font-size: .875rem;
}

.heading {
    font-size: .95rem;
    font-weight: 600;

    letter-spacing: .025em;
    text-transform: uppercase;
}

.heading-small {
    font-size: .75rem;

    padding-top: .25rem;
    padding-bottom: .25rem;

    letter-spacing: .04em;
    text-transform: uppercase;
}

.heading-title {
    font-size: 1.375rem;
    font-weight: 600;

    letter-spacing: .025em;
    text-transform: uppercase;
}

.heading-section {
    font-size: 1.375rem;
    font-weight: 600;

    letter-spacing: .025em;
    text-transform: uppercase;
}

.heading-section img {
    display: block;

    width: 72px;
    height: 72px;
    margin-bottom: 1.5rem;
}

.heading-section.text-center img {
    margin-right: auto;
    margin-left: auto;
}

.display-1 span,
.display-2 span,
.display-3 span,
.display-4 span {
    font-weight: 300;

    display: block;
}

article h4:not(:first-child),
article h5:not(:first-child) {
    margin-top: 3rem;
}

article h4,
article h5 {
    margin-bottom: 1.5rem;
}

article figure {
    margin: 3rem 0;
}

article h5 + figure {
    margin-top: 0;
}

.initialism {
    font-size: 90%;

    text-transform: uppercase;
}

.blockquote {
    font-size: 1.25rem;

    margin-bottom: 1rem;
}

.blockquote-footer {
    font-size: 80%;

    display: block;

    color: #8898aa;
}

.blockquote-footer::before {
    content: '\2014 \00A0';
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-thumbnail {
    max-width: 100%;
    height: auto;
    padding: .25rem;

    border: 1px solid #dee2e6;
    border-radius: .375rem;
    background-color: #f8f9fe;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}

.figure {
    display: inline-block;
}

.figure-img {
    line-height: 1;

    margin-bottom: .5rem;
}

.figure-caption {
    font-size: 90%;

    color: #8898aa;
}

code {
    font-size: 87.5%;

    word-break: break-word;

    color: #f3a4b5;
}

a > code {
    color: inherit;
}

kbd {
    font-size: 87.5%;

    padding: .2rem .4rem;

    color: #fff;
    border-radius: .25rem;
    background-color: #212529;
    box-shadow: inset 0 -.1rem 0 rgba(0, 0, 0, .25);
}

kbd kbd {
    font-size: 100%;
    font-weight: 600;

    padding: 0;

    box-shadow: none;
}

pre {
    font-size: 87.5%;

    display: block;

    color: #212529;
}

pre code {
    font-size: inherit;

    word-break: normal;

    color: inherit;
}

.default-flag {
    width: 35px;
    height: 20px;
    cursor: pointer;
}

.url_analyze {
    text-align: right;
}

.chart {
    cursor: pointer;
    height: 300px;
}
