<div class="col-xs-12">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-12">
                    <h3 class="mb-0">Article Analysis</h3>
                </div>
            </div>
        </div>
        <div class="card-body" style="padding: 5px;min-height: auto;">
            <div class="mt-2 mb-2">
                <ul class="list-unstyled">
                    <li>Authors
                        <ul class="list-unstyled">
                            <li ng-repeat="author in page.author" ng-if="page.author.length > 0">
                                <strong>{{author}}</strong>
                            </li>
                        </ul>
                    </li>

                    <li>Publisher <strong>{{page.publisher}}</strong></li>
                    <li>Related Article Pubblication
                        <ul class="list-unstyled">
                            <!--<li ng-repeat="article in pubblication"></li>-->
                            <li class="text-gray">Not available</li>
                        </ul>
                    </li>
                </ul>
                <div class="col-12 text-center">
                    <div ng-click="send()" ng-if="!loadingFakeness === false"
                         class="btn btn-lg btn-icon btn-success"
                         ng-class="{'disabled': !page.title || !page.text}">
                        <span class="btn-inner--icon"><img src="img/verify.png"></span>
                        <span class="btn-inner--text">Check Fakeness</span>
                    </div>
                    <div ng-if="loadingFakeness === true" class="lds-hourglass"></div>
                </div>
            </div>
        </div>
    </div>
</div>