kafka-python
elasticsearch
pandas
numpy
coloredlogs
spacy
bs4
requests
fuzzywuzzy
langdetect
python-Levenshtein
pycountry
python-restcountries
lxml
flask
flask_cors
flask_swagger_ui
python-whois
tld
tldextract
unidecode
pytz
pillow
dotmap
torch
torchvision
flair==0.6.1
