<div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <h3 class="mb-0">Article Checker</h3>
                    </div>
                    <div class="col-6 text-right">
                        <a href="http://www.google.it" target="_blank">
                            <div class="btn btn-sm btn-icon btn-info">
                                <i class="fas fa-file-video mr-0"></i>
                                <span class="btn-inner--text">Video Analysis</span>
                            </div>
                        </a>

                        <img ng-if="page.lang" class="ml-3 default-flag" ng-src="img/flags/{{page.lang}}.png"
                             alt="Language" style="cursor: default !important;">

                    </div>
                </div>
            </div>
        </div>

        <!--<div class="col-12 px-0">-->
        <!--<div class="row">-->
        <!--<div class="col-6">-->
        <!--<h3 class="mb-0">Article Checker</h3>-->
        <!--</div>-->
        <!--<div class="col-md-6 col-12 text-md-right text-center">-->
        <!--<div class="custom-control custom-control-alternative custom-checkbox d-inline-block">-->
        <!--<input class="custom-control-input" id="videoAnalysisCb" type="checkbox" ng-model="isVideoAnalysisEnabled">-->
        <!--<label class="custom-control-label" for="videoAnalysisCb">-->
        <!--Video Analysis service-->
        <!--</label>-->
        <!--</div>-->

        <!--<div class="h3 mb-0 d-inline-block">-->
        <!--&lt;!&ndash;<span class="hidden-xs">Language selected </span>&ndash;&gt;-->
        <!--<div class="dropdown">-->
        <!--<img class="pl-1 default-flag" ng-src="img/flags/{{selectedLanguage}}.png"-->
        <!--alt="flag">-->
        <!--<div class="dropdown-content">-->
        <!--<a ng-repeat="language in languages" ng-click="changeLanguage(language)"-->
        <!--ng-attr-title="{{language.active == 'False' ? 'Not available' : undefined}}"-->
        <!--ng-class="{'languageDisabled': language.active == 'False'}">{{language.name}}-->
        <!--<img ng-src="img/flags/{{language.language}}.png"></a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-11 col-9 urlContainer" style="padding-right: 0 !important;">
                    <div class="form-group">
                        <input class="form-control form-control-alternative"
                               ng-model="page.url" placeholder="Enter a URL to analyze"
                               type="url">
                    </div>

                    <!--                    <div class="input-group">-->
<!--                        <input class="form-control"-->
<!--                               ng-model="page.url" placeholder="Enter a URL to analyze"-->
<!--                               type="url">-->
<!--                        <div class="input-group-append">-->
<!--                            <button class="btn bg-gray" type="button" ng-class="{'bg-gradient-teal pointer': page.url || !page.url == 'bg-gray'}">-->
<!--                                <span class="btn-inner&#45;&#45;icon">-->
<!--                                    <img ng-if="!loadingAnalyzeUrl" title="URL Analyze" src="img/url_analyze.png"></span>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->

                </div>
                <div class="col-md-1 col-3 url_analyze">
                    <div ng-click="analyzeUrl()"
                         class="icon bg-gray icon-shape text-white rounded-15 shadow"
                         ng-class="{'bg-gradient-teal pointer': page.url || !page.url == 'bg-gray'}">
                                        <span class="btn-inner--icon"><img ng-if="!loadingAnalyzeUrl"
                                                                           title="URL Analyze"
                                                                           src="img/url_analyze.png">
                                            <div ng-if="loadingAnalyzeUrl" class="loadingFakeness-white"></div>
                                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-control-label" for="input-first-name">Title</label>
                            <input type="text" id="input-first-name"
                                   class="form-control form-control-alternative"
                                   placeholder="Insert a title" ng-model="page.title">
                        </div>
                    </div>
                </div>
                <label class="form-control-label" for="body">Body</label>
                <textarea ng-model="page.text" class="form-control form-control-alternative"
                          placeholder="Copy and paste or write an article" id="body"
                          ng-mouseup="showSelectedText()"></textarea>
            </div>

            <div ng-if="full_response.images">
                <label class="form-control-label">Images</label><br>
                <div class="img-list">
                    <img ng-repeat="image in full_response.images" class="img-rounded" ng-src="{{image}}"
                         alt="News image">
                </div>
            </div>
        </form>
    </div>
</div>
