<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fandango Fake news</title>
    <link href="assets/img/favicon.png" rel="icon" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" href="css/argon.css" rel="stylesheet">
</head>

<body ng-controller="indexCtrl">
<nav class="navbar navbar-vertical fixed-left navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <a class="navbar-brand pt-0">
            <img src="assets/img/Logo.png" class="navbar-brand-img">
        </a>
        <a class="navbar-brand pt-0">
            <img src="assets/img/fandango.png" class="navbar-brand-img">
        </a>
    </div>
</nav>
<div class="main-content">
    <div class="col-md-12 pt-3 pb-3">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Article Checker</h3>
                            </div>
                            <div class="col-4 text-right">
                                <a href="" ng-click="send()" class="btn btn-sm btn-success">Fakeness</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control form-control-alternative"
                                               ng-value="'URL : www.google.it/prova'" type="text" disabled>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4"/>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">Title</label>
                                            <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="Insert a title" ng-model="title">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">Source</label>
                                            <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Example : ANSA.it" ng-model="source">
                                        </div>
                                    </div>
                                </div>
                                <textarea ng-model="text" class="form-control form-control-alternative"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12" style="padding-left: 0">
                <div class="col-xs-12">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Fakeness</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 0;height: 300px">
                            <div id='myChart' style="height: 300px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 mt-2">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Example</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="height: 300px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>
</div>
<script src="js/vendors/jquery.min.js"></script>
<script src="js/vendors/angular.min.js"></script>
<script src="/module.js"></script>
<script src="js/controller/indexController.js"></script>
<script src="js/directive/indexDirective.js"></script>
<script src="js/factory/indexFactory.js"></script>
<script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
</body>
</html>