<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fandango Fake news</title>
    <link href="assets/img/favicon.png" rel="icon" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!--<link href="node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">-->
    <!--<link href="node_modules/bootstrap/dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="css/bootstrap.min.css">
    <link type="text/css" href="css/argon.min.css" rel="stylesheet">
</head>

<body ng-controller="indexCtrl">
<div ng-if="loading === true" id="preloader"></div>
<nav class="navbar navbar-vertical fixed-left navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <a class="navbar-brand pt-0">
            <img src="assets/img/Logo.png" class="navbar-brand-img">
        </a>
        <a class="navbar-brand pt-0">
            <img src="assets/img/fandango.png" class="navbar-brand-img">
        </a>
    </div>
</nav>
<div class="main-content">
    <div class="col-12 pt-3 pb-3">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <h3 class="mb-0">Article Checker</h3>
                            </div>
                            <!--<div class="col-6 text-right">-->
                            <!--<btn data-ng-attr-title="{{!title || !source || !text ? 'Fill all the fields': 'Check Fakeness'}}" ng-click="send()" class="btn btn-sm btn-icon btn-success" ng-class="{'disabled': !title || !source || !text}">-->
                            <!--<span class="btn-inner&#45;&#45;icon">-->
                            <!--<img src="assets/img/verify.png">-->
                            <!--</span>-->
                            <!--<span class="btn-inner&#45;&#45;text">Check Fakeness</span>-->
                            <!--</btn>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control form-control-alternative"
                                               value="URL : theguardian.com/britiain-ignored-child-refugees-amendment ( available in next release )"
                                               type="text" disabled>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4"/>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">Title</label>
                                            <input type="text" id="input-first-name"
                                                   class="form-control form-control-alternative"
                                                   placeholder="Insert a title" ng-model="title" ng-minlength="10">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">Source</label>
                                            <input type="text" id="input-last-name"
                                                   class="form-control form-control-alternative"
                                                   value="E.g : ANSA.it ( not analyzed)" disabled>
                                        </div>
                                    </div>
                                </div>
                                <textarea ng-model="text" class="form-control form-control-alternative"
                                          placeholder="Copy and paste or write an article" ng-minlength="50"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 box">
                <div class="col-xs-12">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <h3 class="mb-0">Fakeness</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 0;min-height: 275px;">
                            <div>
                                <p class="col-12 mt-2">To show "Fakeness" of an article fill the follow fields :</p>
                                <ul class="list-unstyled">
                                    <li>- Title ( Min 10 chars )<i ng-if="title"
                                                  class="animated fadeIn fas fa-check ml-2 text-green"></i></li>
                                    <li class="text-gray">- Source ( not analyzed )</li>
                                    <li>- Article body text ( Min 50 chars )<i ng-if="text"
                                                              class="animated fadeIn fas fa-check ml-2 text-green"></i>
                                    </li>
                                </ul>
                                <p class="text-center">Then click "Check Fakeness"</p>
                                <div class="col-12 text-center">
                                    <btn ng-click="send()" ng-if="loadingFakeness === false" class="btn btn-lg btn-icon btn-success" ng-class="{'disabled': !title || !text}">
                                        <span class="btn-inner--icon"><img src="assets/img/verify.png"></span>
                                        <span class="btn-inner--text">Check Fakeness</span>
                                    </btn>
                                    <div ng-if="loadingFakeness === true" class="lds-hourglass"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 mt-2">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <h3 class="mb-0">Fakeness Graph</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="height: 300px;padding: 0">
                            <div id='gaugeFakeness'
                                 style="height: 300px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 mt-2">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <h3 class="mb-0">Current selection ( Not available )</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body disabled-no-opacity" style="height: 300px">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 mt-2">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <h3 class="mb-0">Related claims ( Not available )</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body disabled-no-opacity" style="height: 300px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 hidden-md hidden-sm hidden-xs"></div>
        </div>
    </div>
</div>
<script src="js/vendors/jquery.min.js"></script>
<script src="js/vendors/angular.min.js"></script>
<script src="js/module/module.js"></script>
<!--<script src="/module.js"></script>-->
<script src="js/controller/indexController.js"></script>
<script src="js/directive/indexDirective.js"></script>
<script src="js/factory/indexFactory.js"></script>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
</body>
</html>