<div class="col-xs-12 mb-2">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="h3 mb-0">Article Analysis</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body my-2" style="padding: 5px;min-height: auto;">
            <ul class="list-unstyled">
                <li><strong>Date</strong> {{page.date}}</li>
                <li><strong>Authors</strong>
                    <ul class="list-unstyled">
                        <li ng-repeat="author in page.authors" ng-if="!fakenessDone && (!loadingFakeness && !loadingAnalyzeUrl)">
                            {{author}}
                        </li>

                        <li ng-repeat="author in page.authors" ng-if="fakenessDone">
                            {{author.name}}<span class="ml-2 font-weight-bold" ng-class="getAuthorColor(author.fakenessScore)"> {{author.fakenessScore}}%</span>
                        </li>
                    </ul>
                </li>
                <li><strong>Publisher</strong>
                    <ul class="list-unstyled">
                        <li ng-repeat="publisher in page.publisher" ng-if="!fakenessDone && (!loadingFakeness && !loadingAnalyzeUrl)">
                            {{publisher}}
                        </li>

                        <li ng-repeat="publisher in page.publisher" ng-if="fakenessDone">
                            {{publisher.name}}<span class="ml-2 font-weight-bold" ng-class="getAuthorColor(publisher.fakenessScore)"> {{publisher.fakenessScore}}%</span>
                        </li>
                    </ul>
                </li>
                <!--<li><strong>Related Article Pubblication</strong>-->
                <!--<ul class="list-unstyled">-->
                <!--<li class="text-gray">Not available</li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>
            <div class="col-12 text-center">
                <button ng-click="sendFakeness()" ng-if="loadingFakeness === false"
                        class="btn btn-lg btn-icon btn-success" ng-disabled="!page.title || !page.text">
                    <span class="btn-inner--icon"><img src="img/verify.png"></span>
                    <span class="btn-inner--text">Check Trustworthiness</span>
                </button>

                <div ng-if="loadingFakeness === true" class="loadingFakeness"></div>

                <div class="h5 mt-3" ng-if="(media.images.length > 0 || media.video.length > 0) && !fakenessDone">
                    <i class="fas fa-exclamation-circle text-warning" style="font-size: 16px;"></i>
                    Analyze images / videos may require some minutes!
                </div>

            </div>
        </div>
    </div>
</div>
