<div class="col-xs-12 mb-2">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6 my-auto">
                            <div class="h3 mb-0">Article Analysis</div>
                        </div>
                        <div class="col-6 text-right">
                            <a href="https://www.siren.io" target="_blank" ng-if="fakenessDone === true">
                                <button class="btn btn-sm btn-icon btn-outline-default animated fadeIn faster" rel="tooltip" title="Open Siren" onmouseenter="$(this).tooltip('show')">
                                    <span class="btn-inner--icon"><img src="img/siren.png"></span>
                                    <!--                                    <span class="btn-inner&#45;&#45;text">Open Siren</span>-->
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" style="padding: 5px;min-height: auto;">
            <div class="mt-2 mb-2">
                <ul class="list-unstyled">

                    <li><strong>Date</strong> {{page.date}}</li>

                    <li><strong>Authors</strong>
                        <ul class="list-unstyled">
                            <li ng-repeat="author in page.authors">
                                <a ng-click="checkAuthorScore(author)">{{author}}<span
                                        class="ml-2 font-weight-bold" ng-class="getAuthorColor(author.score)"
                                        ng-if="author.score > 0 "> {{author.score}} %</span></a>
                            </li>
                        </ul>
                    </li>

                    <li><strong>Publisher</strong>
                        <ul class="list-unstyled">
                            <li ng-repeat="publisher in page.publisher">
                                {{publisher}}
                            </li>
                        </ul>
                    </li>
                    <!--<li><strong>Related Article Pubblication</strong>-->
                    <!--<ul class="list-unstyled">-->
                    <!--<li class="text-gray">Not available</li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
                <div class="col-12 text-center">
                    <button ng-click="sendFakeness()" ng-if="loadingFakeness === false"
                            class="btn btn-lg btn-icon btn-success" ng-disabled="!page.title || !page.text">
                        <span class="btn-inner--icon"><img src="img/verify.png"></span>
                        <span class="btn-inner--text">Check Fakeness</span>
                    </button>

                    <div ng-if="loadingFakeness === true" class="loadingFakeness"></div>
                </div>
            </div>
        </div>
    </div>
</div>
