<div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="float-left">
                    <h3 class="mb-0">Annotation</h3>
                </div>
                <div class="float-right">
                    <i class="fas fa-info" rel="tooltip" title="Key active"
                       style="font-size: 15px;vertical-align: middle" onmouseenter="$(this).tooltip('show')"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body card-annotation" style="height: 185px;">
        <div class="row" ng-if="!analyzeOk">
            <div class="col-12 middle-container text-center">
                <h5>Analyze a news first to select an annotation</h5>
            </div>
        </div>
        <div class="row text-center animated fadeIn delay-05s" ng-show="analyzeOk">
            <div class="col-6">
                <div class="custom-control custom-radio">
                    <input type="radio" ng-model="selectedLabel" value="REAL"
                           class="custom-control-input" id="realCb" ng-click='newLabel(selectedLabel)'>
                    <label class="custom-control-label" for="realCb">Real</label>
                    <i title="Real"
                       class="fas fa-thumbs-up animated text-green bounceIn delay-1s ml-1"
                       style="font-size: 22px"></i>

                </div>
            </div>
            <div class="col-6">
                <div class="custom-control custom-radio">
                    <input type="radio" ng-model="selectedLabel" value="FAKE"
                           class="custom-control-input" id="fakeCb" ng-click='newLabel(selectedLabel)'>
                    <label class="custom-control-label" for="fakeCb">Fake</label>
                    <i title="Fake"
                       class="fas fa-thumbs-down animated text-red bounceIn delay-1s ml-1"
                       style="font-size: 22px"></i>
                </div>
            </div>
        </div>

        <div ng-if="isLabelSelected" class="col-12 mt-3 animated fadeIn faster">
            <select class="custom-control custom-select languageList"
                    ng-model="selectedCategory" ng-options="lang.name for lang in languages" ng-change="newLang(selectedCategory.language)">
                <option value="" hidden>Select language</option>
            </select>
        </div>

        <div class="row bottom-container animated fadeIn delay-1s" ng-if="analyzeOk">
            <div class="col-12 text-center">
                <div ng-click="sendAnnotation(selectedLabel, undefined, 'manual')"
                     ng-class="{'disabled': !isLabelSelected || !isLangSelected}"
                     class="btn btn-md btn-icon btn-success">
                    <span class="btn-inner--icon"><i class="fas fa-share-square"></i></span>
                    <span class="btn-inner--text">Save</span>
                </div>
            </div>
        </div>
    </div>
</div>
