<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">


  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://files.krve.io/f/eyespot.css'>
<link rel='stylesheet prefetch' href='https://cdn.cloudcache.dk/materialdesignicons/1.6.50/css/materialdesignicons.min.css'>

      <link rel="stylesheet" href="css/style.css">


</head>

<body>
    <script>
        $(function() {
    // Since there's no list-group/tab integration in Bootstrap
    $('.list-group-item').on('click',function(e){
     	  var previous = $(this).closest(".list-group").children(".active");
     	  previous.removeClass('active'); // previous list-item
     	  $(e.target).addClass('active'); // activated list-item
   	});
});
    </script>
  <div class="container">
  <div class="col-md-4">
    <ul class="list-group help-group">
      <div class="faq-list list-group nav nav-tabs">
        <a href="#tab1" class="list-group-item active" role="tab" data-toggle="tab">Source Credibility Analysis</a>
        <a href="#tab2" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-account"></i>Open Page Rank</a>
        <a href="#tab3" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-account-settings"></i>Twitter Rank</a>
        <a href="#tab4" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-star"></i>Suffix Rank</a>
        <a href="#tab5" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-cart"></i>Text Rank</a>
        <a href="#tab6" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-heart"></i>Media Rank</a>
        <a href="#tab7" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-check"></i>Overall Trustworthiness</a>
      </div>
    </ul>
  </div>
  <div class="col-md-8">
    <div class="tab-content panels-faq">
      <div class="tab-pane active" id="tab1">
        <div class="panel-group" id="help-accordion-1">
          <div class="panel panel-default panel-help">
            <a href="#opret-produkt" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>How do we measure the credibility of a source?</h2>
              </div>
            </a>
            <div id="opret-produkt" class="collapse in">
              <div class="panel-body">
                <p>The scope of this document is to define the different procedures and methodologies that are using throughout
                    FANDANGO in order to measure the credibility of a certain source. Firstly, when we talk about a <strong>source</strong>,
                    we are referring to a Publisher or a certain author that is spreding news or any othe multimedia content throught the Internet.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-help">
            <a href="#rediger-produkt" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>Which technology is involved in the analysis?</h2>
              </div>
            </a>
            <div id="rediger-produkt" class="collapse">
              <div class="panel-body">
                  <ul>
                      <li><strong>Elasticsearch</strong> which is a powerful search engine that is employed to stored the
                        information of the different sources to be retrieved, processed or updated.</li>
                      <li><strong>Neo4j</strong> which is a potential Graph Framework and contains different features
                        that might be used when analysing relationships among the different elements of the analysis.</li>
                      <li><strong>  Open Page Rank API</strong> <a href="https://www.domcop.com/openpagerank/documentation">
                          Here you can find the documentation!</a>
                      <li><strong> Twitter API</strong> <a href="https://developer.twitter.com/en/docs/api-reference-index">
                          Here you can find the documentation!</a>
                  </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-help">
            <a href="#ret-pris" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>How can we measure the credibility of a source?</h2>
              </div>
            </a>
            <div id="ret-pris" class="collapse">
              <div class="panel-body">
               <p>The scope of this section consists in describing the different scores that are computed using the
                   aforementioned frameworks. All the scores are normalized between <strong>(0, 100)</strong> in order to
                   standardize the metrics. Once all the metrics are computed, a weighted average is computed to measure
                   the level of credibility.</p>
              </div>
            </div>
          </div>
            <div class="panel panel-default panel-help">
            <a href="#ret-metrics" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>Which metrics do we use?</h2>
              </div>
            </a>
            <div id="ret-metrics" class="collapse">
              <div class="panel-body">
                  <ul>
                      <li>Open Page Rank</li>
                      <li>Twitter Rank</li>
                      <li>Suffix Rank</li>
                      <li>Text Rank</li>
                      <li>Media Type Rank</li>
                  </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="tab-pane" id="tab2">
        <div class="panel-group" id="help-accordion-2">
          <div class="panel panel-default panel-help">
            <a href="#help-three" data-toggle="collapse" data-parent="#help-accordion-2">
              <div class="panel-heading">
                <h2>What exactly is the so-called Open Page Rank?</h2>
              </div>
            </a>
            <div id="help-three" class="collapse in">
              <div class="panel-body">
                  <p>Using the Open Page Rank API, we are capable of measuring the importance of the source on the
                    Internet Network. The algorithm for this purpose is based on the so-called Google Page Rank
                    Algorithm as well as the Alexa Rank algorithm. Basically, the higher the rank is,
                    the higher the importance of the source on the Internet. Therefore, the range of the algorithm
                    is (0, +inf).</p>
                  <p>As we said before, we need this value to be in the range (0, 100), so that, we need a mapping
                      function to our purpose.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
