<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fandango Fake news</title>
    <link href="img/favicon.ico" rel="icon" type="image/ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="libs/bootstrap.min.css">
    <link type="text/css" href="css/style.min.css" rel="stylesheet">
</head>

<body ng-controller="annotationCtrl">
<div ng-if="loading === true" id="preloader"></div>
<app-navbar></app-navbar>
<div class="main-content">
    <div class="col-12 pt-3 pb-3">
        <div class="row">
            <div class="col-lg-9 col-sm-12">
                <div class="card bg-secondary shadow">
                    <div class="card-body" style="padding: 0 10px 10px 10px">
                        <div class="nav-wrapper">
                            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text"
                                role="tablist">
                                <li class="nav-item" ng-click="changeTab(1)">
                                    <a class="nav-link mb-sm-3 mb-md-0 active"
                                       data-toggle="tab" href="#database" role="tab" aria-controls="database"
                                       aria-selected="true">Database</a>
                                </li>
<!--                                <li class="nav-item" ng-click="changeTab(2)">-->
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0 disabled"
                                       data-toggle="tab" href="#url" role="tab" aria-controls="url"
                                       aria-selected="false">URL address</a>
                                </li>
<!--                                <li class="nav-item" ng-click="changeTab(3)">-->
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0 disabled"
                                       data-toggle="tab" href="#domains" role="tab" aria-controls="domains"
                                       aria-selected="false">URL domains</a>
                                </li>
                            </ul>
                        </div>

                        <div class="alert alert-success" id="alertSuccess" role="alert">
                            <span class="alert-inner--icon mr-2"><i class="fas fa-check"></i></span>
                            <span class="alert-inner--text">Annotation sent successfully. Content marked as <strong>{{alertLabel | capitalize}}</strong></span>
                        </div>

                        <div class="alert alert-warning" id="alertWarning" role="alert">
                            <span class="alert-inner--icon mr-2"><i class="fas fa-exclamation-triangle"></i></span>
                            <span class="alert-inner--text">Insert an annotator name before start analyze articles</span>
                        </div>

                        <div class="alert alert-danger" id="alertError" role="alert">
                            <span class="alert-inner--icon mr-2"><i class="fas fa-times"></i></span>
                            <span class="alert-inner--text">Something goes wrong, retry later</span>
                        </div>

                        <!--<div class="alert alert-warning" id="alertWarning" role="alert">-->
                            <!--<span class="alert-inner&#45;&#45;icon mr-2"><i class="fas fa-exclamation-triangle"></i></span>-->
                            <!--<span class="alert-inner&#45;&#45;text">No more news for selected language</span>-->
                        <!--</div>-->

                        <div class="card shadow">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="database" role="tabpanel"
                                     aria-labelledby="database-tab">
                                    <database-annotation></database-annotation>
                                </div>
                                <div class="tab-pane fade" id="url" role="tabpanel"
                                     aria-labelledby="url-tab">
                                    <url-annotation></url-annotation>
                                </div>
                                <div class="tab-pane fade" id="domains" role="tabpanel"
                                     aria-labelledby="domains-tab">
                                    <domains-annotation></domains-annotation>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 box">
                <div ng-show="tabSelected !== 3">
                    <article-analysis></article-analysis>
                </div>
                <div class="col-xs-12">
                    <div ng-if="tabSelected === 1">
                        <database-start></database-start>
                    </div>
                    <div ng-if="tabSelected === 2">
                        <url-start></url-start>
                    </div>
                    <div ng-if="tabSelected === 3">
                        <domains-start></domains-start>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 hidden-md hidden-sm hidden-xs"></div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<script src="libs/jquery.min.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/angular.min.js"></script>
<script src="libs/angular-sanitize.min.js"></script>
<script src="js/app.min.js"></script>
<!-- <script src="web/module.min.js"></script> -->
<script src="js/controller/annotationController.min.js"></script>
<script src="js/directive/sharedDirectives.min.js"></script>
<script src="js/directive/annotationDirectives.min.js"></script>
<script src="js/factory/sharedFactories.min.js"></script>
<script src="js/factory/annotationFactories.min.js"></script>
</body>
</html>
