<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fandango Fake news</title>
    <link href="img/favicon.png" rel="icon" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="libs/bootstrap.min.css">
    <link type="text/css" href="css/style.min.css" rel="stylesheet">
</head>

<body ng-controller="indexCtrl">
<div ng-if="loading === true" id="preloader"></div>
<app-navbar></app-navbar>
<div class="main-content">
    <div class="col-12 pt-3 pb-3">
        <div class="row">
            <div class="col-lg-9 col-sm-12">
                <article-checker></article-checker>
            </div>
            <div class="col-lg-3 col-sm-12 box">
                <article-analysis></article-analysis>
                <div ng-show="fakenessDone === true" class="col-xs-12 mt-2 animated fadeInDown">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <h3 class="mb-0">Fakeness Level</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body gaugeBox" style="height: auto;padding: 0">
                            <div id='gaugeFakeness' class="h300 animated fadeIn delay-1s">
                            </div>
                            <div ng-if="fakenessDone === true" id="feedback" class="col-sm-12 animated fadeIn delay-1s">
                                <div class="row">
                                    <div class="col-7">
                                        <label class="form-control-label">Real or fake?</label>
                                    </div>
                                    <div class="col-5 text-right" id="feedbackCol">
                                        <i title="Real" ng-click="sendFeedback('REAL')"
                                           class="fas fa-thumbs-up pointer animated text-green bounceIn delay-1s mr-4"
                                           style="font-size: 22px"></i>
                                        <i title="Fake" ng-click="sendFeedback('FAKE')"
                                           class="fas fa-thumbs-down pointer animated text-red bounceIn delay-1s"
                                           style="font-size: 22px"></i>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="feedbackSelected === true" class="alert alert-success" role="alert" id="alert"
                                 style="margin-bottom: 0">
                                <strong>Thank you for the feedback!</strong> Click again on 'Check Fakeness' to see the
                                new Fakeness Level.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 mt-2">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <h3 class="mb-0">Current selection</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body h300" style="padding: 5px">
                            <textarea resize='none' ng-bind="selectedText"
                                      class="form-control form-control-alternative bg-white" disabled
                                      style="min-height: 235px"></textarea>
                            <div class="row mt-3">
                                <div class="col-6 text-center">
                                    <div ng-click="sendClaim()"
                                         class="btn btn-sm btn-icon btn-success"
                                         ng-class="{'disabled': !selectedText}">
                                        <span class="btn-inner--icon"><img src="img/text_check.png"></span>
                                        <span class="btn-inner--text">Check</span>
                                    </div>
                                </div>
                                <div class="col-6 text-center">
                                    <div ng-click="clear()"
                                         class="btn btn-sm btn-icon btn-success"
                                         ng-class="{'disabled': !selectedText}">
                                        <span class="btn-inner--icon"><i class="fas fa-broom"
                                                                         style="font-size: 17px"></i></span>
                                        <span class="btn-inner--text">Clear</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 mt-2">
                    <div class="card bg-secondary shadow mt-2" ng-if="claims.length > 0">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <h3 class="mb-0">Related claims</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="max-height: 600px;overflow-y:auto;overflow-x:auto;padding: 0">
                            <table class="table align-items-center table-flush" style="width: 100%;table-layout:fixed;">
                                <thead class="thead-light">
                                <tr>
                                    <th style="width: 60%;text-align: center" scope="col">Claim</th>
                                    <th scope="col" style="text-align: center">Match</th>
                                </tr>
                                </thead>
                                <tbody style="background-color: white">
                                <tr ng-repeat="claim in claims">
                                    <!--<td class="text-capitalize">-->
                                    <!--{{claim.author | dashless}}-->
                                    <!--</td>-->
                                    <td ng-bind-html="claim.claim" ng-class="getClaimFakeness(claim.label)">
                                    </td>
                                    <!--<td>-->
                                    <!--<span title="{{claim.label | dashless | capitalize}}"><i-->
                                    <!--ng-class="getClaimFakeness(claim.label)"-->
                                    <!--style="font-size: 25px"></i>-->
                                    <!--</span>-->
                                    <!--&lt;!&ndash;<span style="white-space: pre-line;" class="badge badge-dot mr-4"><i ng-class="claim.label"></i> {{claim.label | dashless | capitalize}}</span>&ndash;&gt;-->
                                    <!--</td>-->
                                    <td style="padding: 0;text-align: center">
                                        <span class="font-weight-bold " ng-if="claim._score <= 15">Low</span>
                                        <span class="font-weight-bold " ng-if="claim._score > 15 && claim._score <= 30">Medium</span>
                                        <span class="font-weight-bold " ng-if="claim._score > 30">High</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<script src="libs/jquery.min.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/angular.min.js"></script>
<script src="libs/angular-sanitize.min.js"></script>
<script src="js/app.min.js"></script>
<!-- <script src="web/module.min.js"></script> -->
<script src="js/controller/indexController.min.js"></script>
<script src="js/directive/indexDirectives.min.js"></script>
<script src="js/directive/sharedDirectives.min.js"></script>
<script src="js/factory/indexFactories.min.js"></script>
<script src="js/factory/sharedFactories.min.js"></script>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
</body>
</html>