<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fandango Fake news</title>
    <link href="img/favicon.ico" rel="icon" type="image/ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="libs/bootstrap.min.css">
    <link type="text/css" href="css/style.min.css" rel="stylesheet">
</head>

<body ng-controller="indexCtrl">
<div ng-if="loading === true" id="preloader"></div>
<app-navbar></app-navbar>
<div class="main-content">
    <div class="col-12 py-3">

        <chart-modal></chart-modal>

        <div class="row">
            <div class="col-lg-9 col-sm-12">
                <div class="alert alert-success" id="alertSuccess" role="alert">
                    <span class="alert-inner--icon mr-2"><i class="fas fa-check"></i></span>
                    <span class="alert-inner--text">Claim successfully saved</span>
                </div>

                <div class="alert alert-danger" id="alertError" role="alert">
                    <span class="alert-inner--icon mr-2"><i class="fas fa-times"></i></span>
                    <span class="alert-inner--text">Something goes wrong, retry later</span>
                </div>
                <article-checker></article-checker>
            </div>
            <div class="col-lg-3 col-sm-12 box">
                <article-analysis></article-analysis>
                <!--                                <media-analysis></media-analysis>-->
                <div ng-show="fakenessDone === true" class="col-xs-12 mt-2 animated fadeInDown">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-6 my-auto">
                                    <div class="h3 mb-0">Fakeness Level</div>
                                </div>
                                <div class="col-6 text-right">

                                    <div ng-if="fakenessDone === true">

                                        <button class="btn btn-sm btn-icon mr-2 btn-outline-default animated fadeIn faster"
                                                rel="tooltip" title="Similiar news (NOT AVAILABLE)"
                                                onmouseenter="$(this).tooltip('show')">
                                            <span class="btn-inner--icon">                                    <i
                                                    class="far fa-newspaper" style="font-size: 18px"></i></span>
                                            <!--                                    <span class="btn-inner&#45;&#45;text">Open Siren</span>-->
                                        </button>

                                        <a href="{{sirenUrlNew}}" target="_blank">
                                            <button class="btn btn-sm btn-icon btn-outline-default animated fadeIn faster"
                                                    rel="tooltip" title="Open Siren"
                                                    onmouseenter="$(this).tooltip('show')">
                                                <span class="btn-inner--icon"><img src="img/siren.png"></span>
                                                <!--                                    <span class="btn-inner&#45;&#45;text">Open Siren</span>-->
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body gaugeBox" style="height: auto;padding: 0">
                            <div id='gaugeFakeness' class="chart animated fadeIn delay-05s" ng-show="showChart"></div>
                            <i class="fas fa-chart-pie"
                               style="top: 75px; right: 15px;font-size: 19px; position: absolute; cursor: pointer; z-index: 3"
                               ng-click="showChart = !showChart"></i>
                            <i class="fas fa-chart-bar"
                               style="top: 75px; right: 47px;font-size: 19px; position: absolute; cursor: pointer; z-index: 3"
                               data-toggle="modal"
                               data-target="#chartModal"></i>


                            <!--                            TEST PER PROGRESS BAR -->
                            <div class="progress-wrapper progress-fakeness" ng-show="!showChart">
                                <div class="progress-info">
                                    <div class="progress-label">
                                        <span>Value</span>
                                    </div>
                                    <div class="progress-percentage">
                                        <span>{{realValue}}% REAL</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" ng-class="fakenessColor" role="progressbar"
                                         aria-valuenow="{{realValue}}" aria-valuemin="0" aria-valuemax="100"
                                         ng-style="{width: realValue+'%'}"></div>
                                </div>
                            </div>

                            <div ng-if="fakenessDone === true" id="feedback" class="col-12 animated fadeIn delay-1s">
                                <div class="row">
                                    <div class="col-7">
                                        <label class="form-control-label">Real or fake?</label>
                                    </div>
                                    <div class="col-5 text-right" id="feedbackCol">
                                        <i title="Real" ng-click="sendFeedback('REAL')"
                                           class="fas fa-check pointer animated text-green bounceIn delay-1s mr-4"
                                           style="font-size: 22px"></i>
                                        <i title="Fake" ng-click="sendFeedback('FAKE')"
                                           class="fas fa-times pointer animated text-red bounceIn delay-1s"
                                           style="font-size: 22px"></i>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="feedbackSelected === true" class="alert alert-success mb-0" role="alert"
                                 id="alert">
                                <strong>Thank you for the feedback!</strong> Click again on 'Check Fakeness' to see the
                                new Fakeness Level.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 mt-2">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <h3 class="mb-0">Current selection <strong class="float-right">NOT AVAILABLE</strong></h3>
                            <!-- RIMOSSO DOPO MEETING MADRID -->

                            <!--<div class="col-5 text-right">-->
                            <!--<div class="dropdown" ng-if="selectedText">-->
                            <!--<button href="#" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"-->
                            <!--aria-expanded="true">-->
                            <!--Save Claim-->
                            <!--<b class="caret"></b>-->
                            <!--</button>-->
                            <!--<ul class="dropdown-menu dropdown-menu-right">-->
                            <!--<li class="dropdown-item" ng-click="saveClaim('true')"><i class="fas fa-check text-green pointer"></i><a href="#">Save as <strong>Real</strong></a></li>-->
                            <!--<li class="dropdown-item" ng-click="saveClaim('false')"><i class="fas fa-times text-red pointer"></i><a href="#">Save as <strong>Fake</strong></a></li>-->
                            <!--</ul>-->
                            <!--</div>-->
                            <!--</div>-->

                            <!-- RIMOSSO DOPO MEETING MADRID -->
                        </div>
                        <div class="card-body h300 p-2">

                            <!-- DISABILITATO PER MEETING GRECIA -->
                            <!--                            <textarea resize='none' ng-model="selectedText"-->
                            <!--                                      class="form-control form-control-alternative"-->
                            <!--                                      style="min-height: 235px"></textarea>-->
                            <!-- DISABILITATO PER MEETING GRECIA -->

                            <textarea resize='none' class="form-control form-control-alternative"
                                      style="min-height: 235px" disabled></textarea>
                            <div class="row mt-3">
                                <div class="col-6 text-center">

                                    <!-- DISABILITATO PER MEETING GRECIA -->

                                    <!--                                    <button ng-click="sendClaim()" class="btn btn-sm btn-icon btn-success" ng-disabled="!selectedText">-->
                                    <!--                                        <span class="btn-inner&#45;&#45;icon"><img src="img/text_check.png"></span>-->
                                    <!--                                        <span class="btn-inner&#45;&#45;text">Check</span>-->
                                    <!--                                    </button>-->

                                    <!--                                    <div class="col-6 text-center">-->
                                    <!--                                        <button ng-click="clear()"-->
                                    <!--                                                class="btn btn-sm btn-icon btn-success" ng-disabled="!selectedText">-->
                                    <!--                                        <span class="btn-inner&#45;&#45;icon"><i class="fas fa-broom"-->
                                    <!--                                                                         style="font-size: 17px"></i></span>-->
                                    <!--                                            <span class="btn-inner&#45;&#45;text">Clear</span>-->
                                    <!--                                        </button>-->
                                    <!--                                    </div>-->

                                    <!-- DISABILITATO PER MEETING GRECIA -->

                                    <button class="btn btn-sm btn-icon btn-success warning-tooltip" disabled>
                                        <span class="btn-inner--icon"><img src="img/text_check.png"></span>
                                        <span class="btn-inner--text">Check</span>
                                    </button>
                                </div>

                                <div class="col-6 text-center">
                                    <button class="btn btn-sm btn-icon btn-success" disabled>
                                        <span class="btn-inner--icon"><i class="fas fa-broom"
                                                                         style="font-size: 17px"></i></span>
                                        <span class="btn-inner--text">Clear</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 mt-2">
                    <div class="card bg-secondary shadow mt-2" ng-if="claims.length > 0">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <h3 class="mb-0">Related claims</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="max-height: 600px;overflow-y:auto;overflow-x:auto;padding: 0">
                            <table class="table align-items-center table-flush" style="width: 100%;table-layout:fixed;">
                                <thead class="thead-light">
                                <tr>
                                    <th style="width: 60%;text-align: center" scope="col">Claim</th>
                                    <th scope="col" style="text-align: center">Match</th>
                                </tr>
                                </thead>
                                <tbody style="background-color: white">
                                <tr ng-repeat="claim in claims">
                                    <!--<td class="text-capitalize">-->
                                    <!--{{claim.author | dashless}}-->
                                    <!--</td>-->
                                    <td ng-bind-html="claim.claim" ng-class="getClaimFakeness(claim.label)">
                                    </td>
                                    <!--<td>-->
                                    <!--<span title="{{claim.label | dashless | capitalize}}"><i-->
                                    <!--ng-class="getClaimFakeness(claim.label)"-->
                                    <!--style="font-size: 25px"></i>-->
                                    <!--</span>-->
                                    <!--&lt;!&ndash;<span style="white-space: pre-line;" class="badge badge-dot mr-4"><i ng-class="claim.label"></i> {{claim.label | dashless | capitalize}}</span>&ndash;&gt;-->
                                    <!--</td>-->
                                    <td class="p-0 text-center">
                                        <span class="font-weight-bold " ng-if="claim.score <= 15">Low</span>
                                        <span class="font-weight-bold " ng-if="claim.score > 15 && claim.score <= 30">Medium</span>
                                        <span class="font-weight-bold " ng-if="claim.score > 30">High</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<script src="libs/jquery.min.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/angular.min.js"></script>
<script src="libs/angular-sanitize.min.js"></script>
<script src="js/app.min.js"></script>
<!-- <script src="web/module.min.js"></script> -->
<script src="js/controller/indexController.min.js"></script>
<script src="js/directive/indexDirectives.min.js"></script>
<script src="js/directive/sharedDirectives.min.js"></script>
<script src="js/factory/indexFactories.min.js"></script>
<script src="js/factory/sharedFactories.min.js"></script>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
</body>
</html>
